.avatar-profile {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.avatar-navbar {
    width: 20px;
    width: 20px;
    border-radius: 10px;
}

.header_img {
    width: 300px;
    height: auto;
}